@charset "uft-8";


:root {
    --col-main-blue: #01a6e8;
    --col-main-blue-hover: #0993ca;
    --col-main-dark-blue: #054c68;
    --col-white: #edeaea;
    --col-black: #111111;
    --col-dark: #1B2430;
}

* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
  }

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.flex {
    display: flex;
}

.center {
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
}

body {
    background-color: var(--col-dark);
}

.box {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

.currentTime, .alarmSetTime {
    color: var(--col-white);
}

.currentTime {
    font-size: 100px;
    text-align: center;
}

.alarmSetTime{
    font-size: 27px;
    text-align: center;
}

.inpText {
    width: 100px;
    height: 40px;
    background: var(--col-dark);
    border-radius: 8px;
    border: 1px solid var(--col-main-blue);
    color: var(--col-white);
    text-align: center;
    font-size: 17px;
}

.setTime {
    width: 100px;
    height: 40px;
    background: var(--col-main-blue);
    border-radius: 8px;
    border: 1px solid var(--col-main-blue);
    color: var(--col-white);
    font-size: 14px
}
.setTime:hover {
    background-color: var(--col-main-blue-hover);
}